<%= form_for(@project, html: {class: "form-horizontal", role: "form"}) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

	<ul>
		<% @project.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Panel title</h3>
	</div>

	<div class="panel-body">

		<div class="form-group">
			<label class="col-sm-2 control-label">Name</label>
			<div class="col-sm-5">
				<%= f.text_field :name, class: "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<label class="  col-sm-2 control-label">Description</label>
			<div class="col-sm-5">
				<%= f.text_field :description, class: "form-control" %>
			</div>
		</div>

		<div class="col-sm-offset-2 ">
			<h4>Tasks</h4>
		</div


       
		<div id="tasks" class="col-sm-offset-3">

			
			<%= render 'task_fields'%>
			
			<div class="well">
				<div class="links">
					<%= link_to_add_association 'Add task', f, :tasks,  class:"btn btn-info",  data: {toggle: "modal", target: "#myModal"} %>
				</div>
			</div>
			
			
			<%= link_to 'Click Here', "#", data: {toggle: "modal", target: "#myModal"} %>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				 <%= f.submit "Save Amendments", class: "btn btn-default" %>
			</div>
		</div>

	</div>
</div>


<% end %>


<!-- Modals here -->



